.box-container{
    padding:2rem 5rem;
}

.box-container > h1{
    padding-bottom: 40px;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
 }
 

.box{
    width: 16rem;
    height: 16rem;
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}